<footer class="footer bg-dark py-3 mt-auto">
    <div class="container px-10">
<<<<<<< HEAD
        <p class="text-muted text-center">&copy; 2022</p>
=======
        <p class="text-muted text-center">&copy; ShareBit 2022</p>
>>>>>>> 675188a41e69bb9c5c157593fd7a5347abdea16d
    </div>
</footer>